body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:20px;
  background-color:#D5DBDB;
  color:black;
}

.navbar .navbar-brand{
  color:#34495E;
  font-size:40px;
  padding:15px 15px;
}

.navbar .navbar-brand:hover{
  color:#34495E;
}

.navbar-default, .navbar-collapse{
  background-color:#F5B041;
  margin:0;
  border:1px solid black;
}

.navbar-default .navbar-collapse{
  border:0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #D5DBDB;
}

hr{
  margin: 0;
  border: 0;
  border-top: 1px solid black;
}
#main-content .row div div p{
  padding:15px;
}

#chicken{
  background-color:#DC7633;
}

#beef{
  background-color:#EB984E;
}

#sushi{
  background-color:#F5B041;
}

#back-to-top{
  color:black;
}
